{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
    {% for empregados in employee %}
    {% csrf_token %}

    <a href="{% url 'core:process-update' empregados.id %}">
       <li> {{ empregados.name }} <a href="{% url 'core:process-delete' empregados.id %}">Delete</a></li></a>
     



    {% endfor %}
</ul>


<a href="{% url 'core:create' %}">New Employee</a>

    {% if employee %}

    {% endif %}

</body>
</html>